*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
}

/* /*tela de usuário logado, iniciando pelo desktop*/

.header{
    width: 100%;
    background-color: #ffff;
    height: 125px;
}
/*nav com margin 0 auto pra sempre flotar no meio*/
.nav{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: flex-end;
}

.nav figure{
    width: 381px;
    height: 58px;
}

/*essa logo irá aparecer somente na versão mobile*/
.logo-mobile{
    display: none;
}

.nav img{
    width: 100%;
    height: 100%;
}
/*notifications side*/
.aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dissiminador-name{
    display: flex;
    width: 241px;
    justify-content: flex-end;
}

.dissiminador-name h4{
    margin-right: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A4A4A;
}

.dissiminador-name button{
    cursor: pointer;
    color: #646464;
    background-color: transparent;
}

.dissiminador-name .fas{
    font-size: 17px;
    margin-right: 10px;
}

.dissiminador-name .fas:hover{
    color: #E21683;
}


.notification{
    display: flex;
}

.notification button{
    cursor: pointer;
    font-size: 16px;
    margin-left: 45px;
    margin-right: 10px;
    background-color: transparent;
}

.notification .far{
    padding-top: 2px;
    color: #000000;
    font-size: 23px;
}

.alert-notification{
    background-color: #E21683;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    border-radius: 50px;
}

.notification p{
    color: #ffff;
    font-weight: bold;
    font-size: 16px;
}
/*main section, vai segurar todo conteúdo do site, largura em porcentagem para o responsivo*/ 
.main-section{
    width: 100%;
    background-color: #F1F1F1;
    border-top: 1px solid #82008F;
    position: relative;
    border-bottom: 1px solid #82008F;
}
/* navbar em display none pare receber o onclick*/
.navbar{
    display: none;
    top: 126px;
    z-index: 1;
    position: absolute;
}

.iconClose{
    display: none;
}

.navbar a{
    color: #404040;
    text-transform: uppercase;
    width: 100%;
    text-decoration: none;
}

.navbar .fas{
    margin-left: 31px;
    margin-right: 21px;
}



.navbar .far{
    margin-left: 31px;
    margin-right: 21px;
}

.home{
    height: 55px;
    display: flex;
    background-color: #ffff;
    color: #404040;
    cursor: pointer;
    width: 241px;
    align-items: center;
    border-bottom: 1px solid #707070;
}

.encontros{
    height: 55px;
    display: flex;
    background-color: #ffff;
    color: #404040;
    cursor: pointer;
    width: 241px;
    align-items: center;
    border-bottom: 1px solid #707070;
}

.agenda{
    height: 55px;
    display: flex;
    background-color: #ffff;
    color: #404040;
    cursor: pointer;
    width: 241px;
    align-items: center;
    border-bottom: 1px solid #707070;
}

.sair{
    height: 55px;
    display: flex;
    background-color: #ffff;
    color: #404040;
    cursor: pointer;
    width: 241px;
    align-items: center;
    border-bottom: 1px solid #707070;
}
/*hover da navbar
.navbar .fas:hover{
    color: #E21683;
}

.navbar a:hover{
    color: #E21683;
} */
/*contúdo principal do site, jogando uma margin 0 auto para flotar sempre no meio*/
.main-content{
    width: 1160px;
    z-index: -2;
    margin: 0 auto;
}

/*nome do disseminador do header em display none, irá ficar fora do header apenas na versão mobile*/
.name-mobile{
    display: none;
}
/*linha do próximo encontro*/
.next-meet{
    margin-top: 47px;
    margin-bottom: 27px;
    color: #4A4A4A;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

/*div que vai segurar a seção com data, nome e link da reunião (proximo encontro e encontro antigo)*/
.meet-section{
    display: flex;
    margin-bottom: 56px;
}

.meet{
    display: flex;
    background-color: #82008F;
    width: 770px;
    height: 266px;
}

.meet-content{
    display: flex;
}

.meet-data{
    width: 164px;
    text-align: center;
    height: 100%;
}

.mes{
    margin-top: 39px;    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 35px;
}

.day{
    color:#FC8304;
    font-weight: normal;
    font-size: 86px;
}

.hour{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 21px;
}

.meet-information{
    width: 294px;
    margin-right: 47px;
}

.perfil-meet{
    margin-top: 39px;
    margin-bottom: 17px;
    height: 61px;
    width: 61px;
    border-radius: 100px;
}

.name-meet{
    font-size: 32px;
    text-transform: uppercase;
     color: #FFFFFF;
     font-weight: normal;
}

.name-meet span{
    font-size: 38px;
    font-weight: bold;
}

.meet-information p{
    font-size: 14px;
    color: #FFFFFF;
}

.meet-link{
    height: 215px;
    display: flex;
    align-items: flex-end;
}

.meet-link button{
    width: 188px;
    height: 42px;
    background-color: #1FC2DF;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffff;
    cursor: pointer;
    font-size: 14px;
}

/*seção para os encontros antigos */
.last-meet{
    margin-left: 39px;
    color: #4A4A4A;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.last-meet-data{
    display: flex;
}

.last-data{
    width: 110px;
    margin-top: 30px;
    text-align: center;
}

.mes-last-meet{
    font-size: 14px;
    color: #707070;
}

.day-last-meet{
    font-size: 40px;
    color: #E21683;
}

.hour-last-meet{
    color: #000000;
}

.last-meet-data2{
    display: flex;
}

.day-last-meet2{
    font-size: 40px;
    color: #FC8304;
}

/* linha desenhada para separa a data/hora do nome*/
.line{
    height: 22px;
    margin-top: 86px;
    margin-right: 18px;
    background-color: #6B6B6B;
    width: 1px;
}

.last-meet-information{
    width: 150px;
    margin-top: 35px;
}

.last-meet-information p{
    font-size: 14px;
    margin-bottom: 10px;
    color: #404040;
}

.last-meet-information h4{
    color: #4A4A4A;
    font-size: 20px;
    text-transform: uppercase;
}

.arrow .fas{
    color: #E21683;
    margin-right: 33px;
    margin-left: 57px;
    margin-top: 68px;
    font-size: 21px;
}

/*parte desenhada para simular a barra lateral dos últimos encontro */

.line-border1{
    height: 78px;
    margin-top: 55px;
    width: 3px;
    background-color: #82008F;
    border-radius: 10px;
}

.line-border2{
    width: 3px;
    background-color: #E8E8E8;
    height: 110px;
}
/*linha densenhada para virar block no mobile, para separa seçao*/
.line-mobile{
    height: 1px;
    margin-top: 50px;
    display: none;
    margin-bottom: 15px;
    width: 100%;
    background-color: #4A4A4A;
}

/*seção do input search*/
.search-section{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    height: 42px;
    margin-bottom: 52px;
    align-items: center;
}

.search-section h4{
    text-transform: uppercase;
    color: #4A4A4A;
    font-weight: normal;
    font-size: 22px;
}

.search-section .fas{
    color: #5A1B5A;
    font-size: 24px;
    margin-left: 30px;
}

.search-section input{
    width: 783px;
    height: 42px;
    margin-left: 19px;
    padding-left: 19px;
}

/* tela que abrirá quando clicar no agendar do card */
.meeting{
    width: 1160px;
    display: none;
    position: fixed;
    z-index: 3;
    height: 83vh;
    background-color: #F1F1F1;
    transform: translateX(-50%);
    top: 12%;
    left: 50%;
    border: 1px solid #707070;
    text-align: right;
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
}

.metting-close{
    font-size: 22px;
    margin-right: 33px;
    background-color: transparent;
    margin-top: 39px;
    cursor: pointer;
    color: #000000;
}

.meeting button:hover{
    color: #E21683;
}

.metting-content{
    width: 1010px;
    text-align: left;
    margin: 0 auto;
}

.metting-content h2{
    color: #4A4A4A;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.metting-section{
    display: flex;
    justify-content: space-between;
}

.metting-profile{
    text-align: center;
}

.metting-profile img{
    width: 113px;
    margin-top: 40px;
    margin-bottom: 45px;
    height: 113px;
    border-radius: 100px;
}

.metting-profile p{
    color: #4A4A4A;
    font-size: 14px;
}

.metting-profile i{
    color: #FC8304;
    font-size: 34px;
    width: 100%;
    margin-top: 30px;
}

.metting-information{
    width: 377px;
}

.meet-span-name{
    display: flex;
    margin-top: 40px;
}

.metting-name{
    font-size: 32px;
    text-transform: uppercase;
     color: #5A1B5A;
     font-weight: normal;
}

.meet-span{
    text-align: end;
    color: #5A1B5A;
    margin-top: 42px;
}

.metting-name span{
    font-size: 44px;
    font-weight: bold;
}

.metting-information p{
    color: #82008F;
    margin-top: 10px;
    margin-bottom: 40px;
}

.metting-text p{
    color: #4A4A4A;
    font-size: 22px;
    margin-bottom: 20px;
}

.meeting-data{
    width: 362px;
    text-align: center;
}

.metting-calendar{
    width:100%;
    margin-bottom: 20px;
}

.metting-data{
    width: 100%;
    margin-bottom: 20px;
}

.btn-agendar{
    width: 100%;
    cursor: pointer;
    color: #ffff;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    height: 49px;
    background-color: #1FC2DF;
}

.show-data{
    font-size: 14px;
    text-transform: uppercase;
    color: #4A4A4A;
}

.show-data span{
    font-weight: bold;
}

/* seção dos cards de agendamentos em grid para facilitar na responsividade */
.scheduling{
    width: 1160px;
    margin: 0 auto;
    column-gap: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 70px;
}

.cards-scheduling{
    width: 259px;
    height: 368px;
    border: 1px solid #82008F;
    background-color: #ffff;
    display: flex;
    text-align: center;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin-bottom: 45px;
}

.cards-scheduling img{
    width: 113px;
    height: 113px;
    margin-top: 35px;
    margin-bottom: 16px;
    border-radius: 100px;
}

.cards-scheduling h3{
    font-size: 22px;
    text-transform: uppercase;
    color: #82008F;
    margin-bottom: 16px;
}

.cards-scheduling p{
    color: #4A4A4A;
    font-size: 14px;
    width: 80%;
    margin-bottom: 16px;
}

.cards-scheduling .far{
    color: #5A1B5A;
    font-size: 19px;
    margin-bottom: 8px;
}

.cards-scheduling span{
    color: #5A1B5A;
    font-size: 14px;
}

/*seção do button agendar do card, vai iniciar escondido no overflow*/
.agendarEncontro{
    width: 257px;
    height: 307px;
    bottom: -310px;
    background-color: #863176;
    position: absolute;
    transition: 0.5s;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.agendarEncontro h3{
    color:#FC8304 ;
    margin-top: 25px;
    margin-bottom: 10px;
}

.agendarEncontro p{
    color:#ffff ;
    font-size: 14px;
    margin-bottom: 15px;
}

.agendarEncontro span{
    color:#ffff ;
    width: 75%;
    font-size: 14px;
    margin-bottom: 15px;
}

.agendarEncontro button{
    color:#ffff ;
    width: 188px;
    height: 42px;
    font-size: 14px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #1FC2DF;
    cursor: pointer;
}


/*button para mostrar mais cards*/
.btn-more-cards{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.btn-more-cards button{
    width: 283px;
    height: 50px;
    text-transform: uppercase;
    color: #ffff;
    background-color: #863176;
    margin-bottom: 129px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

/*footer*/
.footer{
    width: 100%;
    height: 227px;
    background-color: #5A1B5A;
}

.rights{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    height: 187px;
    align-items: flex-end;
    justify-content: flex-end;
}

.rights p{
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
}

/*------------- Responsivo tablet--------------- */
@media(max-width: 1200px){

    .header {
        height: 100px;
    }

    /*nav*/
    .nav {
        width: 800px;
        height: 75px;
    }

    .navbar {
        top: 101px;
    }
    
    .notification button {
        margin-left: 15px;
    }

    .nav figure {
        width: 320px;
        height: 54px;
    }
    /*próximos encontros e encontros antigos*/
    .main-content {
        width: 800px;
    }

    .meet-content {
        flex-direction: column;
        align-content: center;
        width: 410px;
        justify-content: center;
    }

    .meet {
        height: initial;
        width: 400px;
    }

    .meet-data {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mes {
        margin-top: 0px;
        font-size: 24px;
    }

    .day {
        font-size: 60px;
    }

    .hour {
        font-size: 18px;
    }

    .meet-information {
        width: 100%;
        text-align: center;
        display: flex;
        margin-bottom: 30px;
        margin-right: 0px; 
        flex-direction: column;
    }

    .perfil-meet {
        margin-top: 10px;
        margin-bottom: 17px;
        margin-left: 175px;
    }

    .name-meet {
        font-size: 22px;
    }

    .name-meet span {
        font-size: 38px;
    }

    .meet-link {
        height: initial;
        display: flex;
        margin-bottom: 14px;
        justify-content: center;
    }

    .meet-link button {
        width: 188px;
        font-size: 14px;
    }

    /*seção que aparece quando se clica no botão agendar dos cards*/

    .meeting {
        width: 90%;
    }

/*search*/
.search-section {
    width: 800px;
    }
    .search-section h4 {
        font-size: 20px;
    }

    .search-section .fas {
        font-size: 22px;
        margin-left: 20px;
    }

    .search-section input {
        width: 468px;
    }
    /*cards mostrando os perfils*/
    
.scheduling {
    width: 800px;
    column-gap: 30px;
    grid-template-columns: 30% 30% 30%;
    }

    .cards-scheduling {
        margin-bottom: 10px;
    }

    .btn-more-cards {
        width: 800px;
    }

    .footer {
        height: 120px;
    }

    .rights {
        width: 800px;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

}
/*--------Responsivo tablet*/
@media(max-width: 850px){
    /*------nav*/
    .nav {
        width: 650px;
    }

    .nav figure {
        width: 235px;
        height: 50px;
    }
    .dissiminador-name h4 {
        font-size: 15px;
    }

    .notification .far {
        font-size: 22px;
    }
    
    .alert-notification {
        height: 24px;
        width: 24px;
    }

    .notification p {
        font-size: 15px;
    }
    
    .main-content {
        width: 650px;
    }

    .meet {
        width: 330px;
    }

    .perfil-meet {
        margin-left: 139px;
    }

    .last-meet {
        margin-left: 5px;
    }

    .last-data {
        width: 52px;
    }

    .line {
        margin-right: 15px;
        margin-left: 2px;
    }

    .arrow .fas {
        margin-right: 33px;
        margin-left: 45px;
    }

    .search-section {
        width: 650px;
    }

    .search-section h4 {
        font-size: 16px;
    }

    .search-section .fas {
        font-size: 19px;
    }

    .search-section input {
        width: 370px;
        height: 37px;
    }
    /*cards dos perfils*/
    .scheduling {
        width: 650px;
        column-gap: 10px;
        grid-template-columns: 40% 40%;
    }

    .cards-scheduling {
        margin-left: 63px;
    }

    .btn-more-cards {
        width: 650px;
    }

    .rights {
        width: 650px;
    }
}

/* responsivo mobile */
@media(max-width: 680px){
    .nav {
        width: 95%;
    }

    .logo{
        display: none;
    }

    .logo-mobile{
        display: block;
    }

    .nav figure {
        width: 150px;
    }
    /*dando responsividade mobile para o nav bar */
    .home {
        width: 180px;
    }

    .encontros {
        width: 180px;
    }

    .navbar .fas {
        margin-left: 15px;
        margin-right: 15px;
    }

    .agenda {
        width: 180px;
    }

    .sair {
        width: 180px;
    }

    .navbar .far {
        margin-left: 15px;
        margin-right: 15px;
    }


    /*centralizando o conteúdo que mostra a próxima reunião e a reunião antiga*/
    .dissiminador-name {
        flex-direction: column;
        justify-content: center;
        width: initial;
    }

    .dissiminador-name h4 {
        font-size: 12px;
    }

    .notification {
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: initial;
    }

    .alert-notification {
        height: 15px;
        width: 15px;
        margin-left: 17px;
        position: absolute;
    }

    .notification .far {
        font-size: 22px;
    }

    .notification p {
        font-size: 12px;
    }

    .main-content {
        width: 95%;
    }

    .next-meet {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .meet-section {
        display: flex;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .last-meet {
        margin-top: 15px;
        text-align: center;
    }

    .arrow .fas {
        display: none;
    }

    .last-data {
        margin-top: 20px;
    }

    .line {
        margin-top: 76px;
    }

    .last-meet-information {
        margin-top: 25px;
    }

    .line-border{
        display: none;
    }

    .search-section {
        margin-top: 20px;
        flex-direction: column;
    }

    .search-section .fas {
        display: none;
    }

    .search-section input {
        margin-top: 15px;
    }

    .line-mobile{
        display: block;
    }

    .search-section {
        width: 95%;
    }

    .input-search{
        width: 100%;
    }

    .search-section input {
        width: 95%;
    }

    .scheduling {
        width: 100%;
    }

    .btn-more-cards {
        width: 95%;
    }

    .rights {
        width: 95%;
    }
    

}

/*resposivo dos cards em mobile para apenas uma coluna */
@media(max-width: 650px){

    .navbar {
        margin-right: 54px;
    }

    .name-mobile {
        display: block;
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
    }

    .dissiminador-name {
        flex-direction: inherit;
        width: initial;
    }

    .scheduling {
        width: 80%;
        column-gap: 0px;
        grid-template-columns: 100%;
    }

    .cards-scheduling {
        margin-left: 0px;
        width: 100%;
    }

    .agendarEncontro {
        width: 100%;
    }

    .dissiminador-name h4 {
        display: none;
    }
}

/* responsividade de altura do seção para agendar, como display está fixed, o layout original vai vazar em telas abaixo de 1080p */
@media(max-height: 900px){
    .metting-close {
        margin-top: 15px;
    }

    .metting-calendar {
        height: 40%;
        margin-bottom: 15px;
    }

    .metting-data {
        height: 23%;
        margin-bottom: 15px;
    }

}