*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
}

/* /*tela de usuário logado, iniciando pelo desktop*/

.header{
    width: 100%;
    background-color: #ffff;
    height: 125px;
}
/*nav com margin 0 auto pra sempre flotar no meio*/
.nav{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: flex-end;
}

.nav figure{
    width: 381px;
    height: 58px;
}

.nav img{
    width: 100%;
    height: 100%;
}
/*notifications side*/
.aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dissiminador-name{
    display: flex;
    width: 241px;
    justify-content: flex-end;
}

.dissiminador-name h4{
    margin-right: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A4A4A;
}

.dissiminador-name button{
    cursor: pointer;
    color: #646464;
    background-color: transparent;
}

.dissiminador-name .fas{
    font-size: 17px;
    margin-right: 10px;
}

.dissiminador-name .fas:hover{
    color: #E21683;
}


.notification{
    display: flex;
}

.notification button{
    cursor: pointer;
    font-size: 16px;
    margin-left: 45px;
    margin-right: 10px;
    background-color: transparent;
}

.notification .far{
    padding-top: 2px;
    color: #000000;
    font-size: 23px;
}

.alert-notification{
    background-color: #E21683;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    border-radius: 50px;
}

.notification p{
    color: #ffff;
    font-weight: bold;
    font-size: 16px;
}
/*main section, vai segurar todo conteúdo do site, largura em porcentagem para o responsivo*/ 
.main-section{
    width: 100%;
    background-color: #F1F1F1;
    border-top: 1px solid #82008F;
    position: relative;
    border-bottom: 1px solid #82008F;
}
/* navbar em display none pare receber o onclick*/
.navbar{
    display: none;
    top: 126px;
    z-index: 1;
    position: absolute;
}

.iconClose{
    display: none;
}

.navbar a{
    color: #404040;
    text-transform: uppercase;
    width: 100%;
    text-decoration: none;
}

.navbar .fas{
    margin-left: 31px;
    margin-right: 21px;
}
.navbar .far{
    margin-left: 31px;
    margin-right: 21px;
}

.home{
    height: 55px;
    display: flex;
    background-color: #ffff;
    color: #404040;
    cursor: pointer;
    width: 241px;
    align-items: center;
    border-bottom: 1px solid #707070;
}

.encontros{
    height: 55px;
    display: flex;
    background-color: #ffff;
    color: #404040;
    cursor: pointer;
    width: 241px;
    align-items: center;
    border-bottom: 1px solid #707070;
}

.agenda{
    height: 55px;
    display: flex;
    background-color: #ffff;
    color: #404040;
    cursor: pointer;
    width: 241px;
    align-items: center;
    border-bottom: 1px solid #707070;
}

.sair{
    height: 55px;
    display: flex;
    background-color: #ffff;
    color: #404040;
    cursor: pointer;
    width: 241px;
    align-items: center;
    border-bottom: 1px solid #707070;
}
/*hover da navbar
.navbar .fas:hover{
    color: #E21683;
}

.navbar a:hover{
    color: #E21683;
} */
/*contúdo principal do site, jogando uma margin 0 auto para flotar sempre no meio*/
.main-content{
    width: 1160px;
    z-index: -2;
    margin: 0 auto;
}
/*linha do próximo encontro*/
.next-meet{
    margin-top: 47px;
    margin-bottom: 27px;
    color: #4A4A4A;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

/*div que vai segurar a seção com data, nome e link da reunião (proximo encontro e encontro antigo)*/
.meet-section{
    display: flex;
    margin-bottom: 56px;
}

.meet{
    display: flex;
    background-color: #82008F;
    width: 770px;
    height: 266px;
}

.meet-content{
    display: flex;
}

.meet-data{
    width: 164px;
    text-align: center;
    height: 100%;
}

.mes{
    margin-top: 39px;    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 35px;
}

.day{
    color:#FC8304;
    font-weight: normal;
    font-size: 86px;
}

.hour{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 21px;
}

.meet-information{
    width: 294px;
    margin-right: 47px;
}

.perfil-meet{
    margin-top: 39px;
    margin-bottom: 17px;
    height: 61px;
    width: 61px;
    border-radius: 100px;
}

.name-meet{
    font-size: 32px;
    text-transform: uppercase;
     color: #FFFFFF;
     font-weight: normal;
}

.name-meet span{
    font-size: 38px;
    font-weight: bold;
}

.meet-information p{
    font-size: 14px;
    color: #FFFFFF;
}

.meet-link{
    height: 215px;
    display: flex;
    align-items: flex-end;
}

.meet-link button{
    width: 188px;
    height: 42px;
    background-color: #1FC2DF;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffff;
    cursor: pointer;
    font-size: 14px;
}

/*seção para os encontros antigos */
.last-meet{
    margin-left: 39px;
    color: #4A4A4A;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.last-meet-data{
    display: flex;
}

.last-data{
    width: 110px;
    margin-top: 30px;
    text-align: center;
}

.mes-last-meet{
    font-size: 14px;
    color: #707070;
}

.day-last-meet{
    font-size: 40px;
    color: #E21683;
}

.hour-last-meet{
    color: #000000;
}

.last-meet-data2{
    display: flex;
}

.day-last-meet2{
    font-size: 40px;
    color: #FC8304;
}

/* linha desenhada para separa a data/hora do nome*/
.line{
    height: 22px;
    margin-top: 86px;
    margin-right: 18px;
    background-color: #6B6B6B;
    width: 1px;
}

.last-meet-information{
    width: 150px;
    margin-top: 35px;
}

.last-meet-information p{
    font-size: 14px;
    margin-bottom: 10px;
    color: #404040;
}

.last-meet-information h4{
    color: #4A4A4A;
    font-size: 20px;
    text-transform: uppercase;
}

.arrow .fas{
    color: #E21683;
    margin-right: 33px;
    margin-left: 57px;
    margin-top: 68px;
    font-size: 21px;
}

/*parte desenhada para simular a barra lateral dos últimos encontro */

.line-border1{
    height: 78px;
    margin-top: 55px;
    width: 3px;
    background-color: #82008F;
    border-radius: 10px;
}

.line-border2{
    width: 3px;
    background-color: #E8E8E8;
    height: 110px;
}

/*seção do input search*/
.search-section{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    height: 42px;
    margin-bottom: 52px;
    align-items: center;
}

.search-section h4{
    text-transform: uppercase;
    color: #4A4A4A;
    font-weight: normal;
    font-size: 22px;
}

.search-section .fas{
    color: #5A1B5A;
    font-size: 24px;
    margin-left: 30px;
}

.search-section input{
    width: 783px;
    height: 42px;
    margin-left: 19px;
    padding-left: 19px;
}

/* seção dos cards de agendamentos em grid para facilitar na responsividade */
.scheduling{
    width: 1160px;
    margin: 0 auto;
    column-gap: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 70px;
}

.cards-scheduling{
    width: 259px;
    height: 368px;
    border: 1px solid #82008F;
    background-color: #ffff;
    display: flex;
    text-align: center;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin-bottom: 45px;
}

.cards-scheduling img{
    width: 113px;
    height: 113px;
    margin-top: 35px;
    margin-bottom: 16px;
    border-radius: 100px;
}

.cards-scheduling h3{
    font-size: 22px;
    text-transform: uppercase;
    color: #82008F;
    margin-bottom: 16px;
}

.cards-scheduling p{
    color: #4A4A4A;
    font-size: 14px;
    width: 80%;
    margin-bottom: 16px;
}

.cards-scheduling .far{
    color: #5A1B5A;
    font-size: 19px;
    margin-bottom: 8px;
}

.cards-scheduling span{
    color: #5A1B5A;
    font-size: 14px;
}

/*seção do button agendar do card, vai iniciar escondido no overflow*/
.agendarEncontro{
    width: 257px;
    height: 307px;
    bottom: -310px;
    background-color: #863176;
    position: absolute;
    transition: 0.5s;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.agendarEncontro h3{
    color:#FC8304 ;
    margin-top: 25px;
    margin-bottom: 10px;
}

.agendarEncontro p{
    color:#ffff ;
    font-size: 14px;
    margin-bottom: 15px;
}

.agendarEncontro span{
    color:#ffff ;
    width: 75%;
    font-size: 14px;
    margin-bottom: 15px;
}

.agendarEncontro button{
    color:#ffff ;
    width: 188px;
    height: 42px;
    font-size: 14px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #1FC2DF;
    cursor: pointer;
}


/*button para mostrar mais cards*/
.btn-more-cards{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.btn-more-cards button{
    width: 283px;
    height: 50px;
    text-transform: uppercase;
    color: #ffff;
    background-color: #863176;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

/*footer*/
.footer{
    width: 100%;
    height: 227px;
    background-color: #5A1B5A;
}

.rights{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    height: 187px;
    align-items: flex-end;
    justify-content: flex-end;
}

.rights p{
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
}